[2018-01-23 13:05] mgns opened #1 "A Neural QA Model for DBpedia"
# Description
In the last years, the Linked Data Cloud has grown to over 100 billion facts pertaining to a multitude of domains. The DBpedia knowledge base consists of 4.58 million things on its own. However, accessing this information is challenging for lay users as they are not able to use SPARQL as querying language without exhaustive training.
Recently, Deep Learning architectures based on Neu

[2018-01-23 13:09] mgns opened #2 "Data Quality Dashboard for DBpedia"
# Description
DBpedia offers large quantities of structured data. Though, DBpedia has partly insufficient data quality which originate from different sources, e.g. incorrect extractions and value transformations in the extraction framework, inconsistent mappings, incorrect data in Wikipedia articles, and generally incompleteness.
# Goals
Visualize a set of metrics in an easy to read interactive UI

[2018-01-23 13:10] mgns opened #3 "Extracting Table of Contents (TOCs) for Articles"
# Description
Each Wikipedia article is structured by headings and subheadings. These structures indicate the relevance of certain aspects for the described entity. Extracting such data can help in categorizing the entities and facts about the entity. E.g. cities usually have paragraphs on History, Geography and Demographics, while soccer clubs have paragraphs on Honours, Players and Stadiums. Obv

[2018-01-23 13:11] mgns opened #4 "Improve the Mapping experience, possibly with gamification (use the new RML mapping UI)"
# Description
Gamify the mapping process
# Goals
At the moment, the mapping process is not very appealing to the users. The goal is to improve the user experience, make the mapping process easier, funnier and more engaging than it currently is.
Impact: Increase the coverage and precision of the infobox to ontology mappings.
# Warm up tasks
Write a script that calculates the most active contributor

[2018-01-23 13:12] mgns opened #5 "Workflow for linking external datasets"
# Description
DBpedia is long time known as a central hub in the Linked Open Data (LOD) cloud as there are numerous datasets linked by DBpedia and even more linking to DBpedia resources. Nevertheless, outgoing links are highly appreciated. In the [DBpedia Links repository](https://github.com/dbpedia/links) people can upload there linksets or scripts to generate such. What is currently missing is a

[2018-01-23 13:13] mgns opened #6 "Fusing the List Extractor and the Table Extractor"
# Description
Currently, there are 2 different projects for extracting triples [from lists](https://github.com/dbpedia/list-extractor) and [from tables](https://github.com/dbpedia/table-extractor). Both project's aim is to extract data from wikipedia pages and to create a dictionary for mapping elements found in those pages. The student has to study how these projects work (how they create diction

[2018-01-23 13:15] mgns opened #7 "Mapping Generation from Resource Descriptions"
# Description
DBpedia currently maintains mappings between Wikipedia infobox template properties to the DBpedia ontology, since several similar templates exist (in single as well as over multiple languages) to describe closely related types of infoboxes. The aim of the project is to enrich and possibly correct the existing mappings with a data-driven method to propose or generate mappings automati

[2018-01-23 13:31] mgns opened #8 "Run Extraction Framework"
# Effort
1-2 days
# Skills
basic maven, executing README file
# Description
The DBpedia extraction framework can download a set of Wikipedia XML dumps and extract facts. There is a configuration file where you specify the language(s) you want and just run it. Setup your [download](https://github.com/dbpedia/extraction-framework/blob/master/dump/download.minimal.properties) & [extract](https://gith

[2018-01-23 13:32] mgns opened #9 "Extend the Extraction Framework for your language"
# Effort
1-2 days
# Skills
basic maven, scala
# Description
The DBpedia extraction framework has a default configuration that is language agnostic. However, language specific configuration can boost the coverage and precision of the extracted data for that particular language. We keep all language specific configurations [here](https://github.com/dbpedia/extraction-framework/tree/master/core/src/m

[2018-01-23 13:35] mgns opened #10 "Setup a YASGUI interface for DBpedia"
# Effort
1 day
# Skills
Javascript
# Description: Setup and configure a YASGUI interface to work with the DBpedia SPARQL endpoint. You might do this locally or on the web. Try to configure the client (and optionally server) in order to give the enduser a more comfortable SPARQL environment.
# Impact
Learn basics of communication with the SPARQL endpoint.

[2018-01-23 13:36] mgns opened #11 "Find 10 or 100 errors in DBpedia"
# Effort
1 day
# Skills
curiosity, attention to detail, spreadsheets
# Description
There are several classes of errors in DBpedia. Data may be incorrect or missing. Errors may be caused by different reasons, for instance 1) wrong information or wrong format in Wikipedia or other original source; 2) the DBpedia Extraction Framework (DEF) might be making errors during automatic extraction; 3) there

[2018-01-30 09:36] mommi84 opened #12 "DBpedia Embeddings for Out-Of-Vocabulary Resources"
## Description
A DBpedia Knowledge Base embedding (KB embedding) is a learned high-dimensional representation of a KB symbol. In less cryptic words, we want to build a vector of D dimensions (e.g. D=300) to represent each URI.
In this project, we aim at adding code such that the DBpedia extraction framework outputs one real-valued vector of D dimensions for each DBpedia Instance, each Class and ea

[2018-01-30 12:13] tramplingWillow commented on #12
Can we try to implement Recurrent Neural Network Embedding for KB completion?

[2018-02-13 05:33] tramplingWillow opened #14 "Recurrent Neural Network Embedding for Knowledge-Base Completion"
_Student Proposal_
## Description
I want to build this project in as a Python wrapper that enhances the knowledge base embeddings in DBpedia to provide more accurate semantic information by using generative models to provide schemes for link prediction and entity recognition systems. As we aim to get the embeddings of these documents in the DBpedia Knowledge Base, I want to first perform the paper

[2018-02-13 18:33] mjohenneken commented on #1
Sounds interesting! I will have a look on this after my exams.

[2018-02-14 08:33] abhinavralhan commented on #1
@mgns  Hi. This sounds very interesting to me. I had a few queries to ask though.

[2018-02-14 09:00] RicardoUsbeck commented on #1
You are welcome to ask them here.

[2018-02-14 12:01] abhinavralhan commented on #1
@RicardoUsbeck Yeah so I was attempting the Warmup tasks. Can you please explain how should I attempt the second task?

[2018-02-14 14:35] RicardoUsbeck commented on #1
@mommi84 is the better person to explain that :)

[2018-02-14 16:49] vedularaghu commented on #2
Hi, I'm an undergraduate student of CET, Bhubaneswar. I have prior experience in full stack web development (Node js , ReactJs, Javascript). I would like to work on this project. Please help in picking up issues to start with this project.
Thank you.

[2018-02-14 17:37] vedularaghu commented on #2
Hi, I'm an undergraduate student of CET, Bhubaneswar. I have prior experience in full stack web development (Node js , ReactJs, Javascript). I would like to work on this project. Please help in picking up issues to start with this project.
Thank you.

[2018-02-14 18:30] pratyusha972 commented on #3
@mgns , I am interested in working on this project, can you please guide me on how to start working on the same.

[2018-02-15 14:41] mgns commented on #12
Student proposal for this task: https://github.com/dbpedia/GSoC/issues/14

[2018-02-15 14:49] mgns commented on #6
Please report this issue at https://github.com/dbpedia/list-extractor, as the developers not necessarily see this comment here.

[2018-02-15 15:27] mgns commented on #3
I added a warmup task to this idea. There are mainly two approaches to go for solving this task:
1. write a new extractor that extracts the TOCs from wikitext
2. write a script which processes the latest [NIF dataset](http://wiki.dbpedia.org/nif-abstract-datasets)

As the first one is the more straightforward solution, you should familiarize with the extraction framework.

When writing your propos

[2018-02-15 15:34] mgns commented on #2
Hi, there is a warm-up task (#11) referenced in the description. You could start with that.

[2018-02-16 10:41] mommi84 commented on #1
@abhinavralhan Hi! I added a link in the project description.

[2018-02-17 05:13] abhinavralhan commented on #1
@mommi84 a little problem with the last inference bit. I got past most problems except this one I cannot understand. So I ran the command below, but for some reason vocab file is not getting generated. I'm guessing it has to do with something in the ask.sh file.

sudo sh ask.sh data/monument_300_model "where is edward vii monument located in?"

Traceback (most recent call last):
  File "/usr/lib/p

[2018-02-17 06:37] gyanesh-m commented on #1
@abhinavralhan Hi, I faced a similar issue. The problem is output directory needs to be monument_300_model not monument_300_model_model. So just change the input parameter to ask.sh from monument_300_model to monument_300.

[2018-02-17 06:46] gyanesh-m commented on #1
@abhinavralhan Hi, I faced a similar issue. The problem is due to incorrect data directory passed to ask.sh. Currently it is monument_300_model. You need to change the input directory for ask.sh to data/monument_300 .

[2018-02-20 13:44] mommi84 commented on #1
Thank you @abhinavralhan for sharing the bug and thanks @gyanesh-m for fixing it.

[2018-02-22 13:15] gyanesh-m commented on #1
@mommi84 Hi, I had a doubt related to query templates. In all the examples mentioned, the initial statement
[code]
was never used. Is it because you have already specified the domain for \<A\> in first column. Also, If I plan to use the initial statement for some other class in query template, will it be fine ?

[2018-02-22 13:58] Verma314 commented on #12
Hi! In the [https://github.com/akshayjagatap/embeddings/tree/master/gsoc2017-akshay](url),
how does one create the csv files needed to run WikiDetector.py?
I tried using the MakeDictionary.py, it creates an empty csv file AnchorDictionary.csv. I gave it a downloaded *.html file from wikipedia as the argument.

I worked with word embeddings before but am a noob to DBpedia.

[2018-02-22 14:27] Verma314 commented on #12
@mommi84  ah wait. Perhaps I have to download the whole English Wikipedia dump and provide it as the argument?

[2018-02-22 17:20] piyush96chawla commented on #1
Hey @gyanesh-m,
No you don't need to explicitly add that. prepare_generator_query adds the "initial statement" to the generator queries.

[2018-02-22 17:51] gyanesh-m commented on #1
@piyush96chawla Oh , thanks.

[2018-02-22 18:39] sachinmalepati commented on #6
Hey everyone,
  I have worked on the warm-up tasks and I want to show them.

1. The possible dictionary structure can be the following,
[code]
  list of headers to explore may not be useful for table-extractor but is necessary for list-extractor.
  Both the projects should be restructured to make use of the above possible dictionary.

2. For the GUI , I have done some little research and found out

[2018-02-24 21:37] icemc commented on #3
Hello @mgns  I'm also interested in working on this. When I am done with the warm up task, how should I let you know about my progress?

[2018-02-25 09:51] amanmehta-maniac commented on #12
We can take first step for the OOV Word Embedding challenge by learning vectors for character n-grams within the word and later summing them to produce final word embedding. I have been working on similar ideas on my research project at my university as well. What do you think?

[2018-02-26 06:40] seqryan commented on #12
Error on running RVA-based embedding algorithm

File "WikiDetector.py", line 132, in
surfForms = loadSurfaceForms("AnchorDictionary.csv", 5)#selecting the top 5 most common anchor text
File "WikiDetector.py", line 90, in loadSurfaceForms
with open(filename, 'r') as output:
FileNotFoundError: [Errno 2] No such file or directory: 'AnchorDictionary.csv'

How do I generate this file?

[2018-02-26 17:45] tramplingWillow commented on #12
Hi @seqryan, you need to run the script MakeDictionary.py with all the text files from the wiki dump as input. That will generate the file, `'AnchorDictionary.csv'.
`python MakeDictionary.py updatedWiki/`

[2018-02-27 17:14] mommi84 commented on #12
Hi @amanmehta-maniac, that sounds good. Please prepare a proposal draft in a Google doc, where you explain how you intend to handle the problem. When you're done, invite my username at gmail.com to the doc.

Thank you @seqryan and @tramplingWillow for your debugging efforts!

[2018-02-27 18:05] mommi84 commented on #1
Added example of successful project proposal.

[2018-03-01 05:44] icemc commented on #5
Hello @mgns discovered there is no mentor assigned to this project, though I've started working on a proposal for GSOC. Can I continue writing a proposal for it, since I;m interested in the project as a whole? What is the priority of this project(low, medium, high) as far as GSOC is concerned if I may ask? I discovered it doesn't have any warmup task like the other projects, I't would be great if

[2018-03-01 16:13] seqryan commented on #12
Considering our goal is to predict information about Out-Of-Vocabulary Resources, I have 2 queries

1) what information is available about Out-Of-Vocabulary Resources (since the embeddings will use this information to infer other properties)
2) what information do we need to predict about Out-Of-Vocabulary Resources.

[2018-03-02 17:22] amanmehta-maniac commented on #12
Is there a need to download the entire dump in the warm-up tasks? Or can I get a gist using some other substitute dump(of small size) considering the original dump zip size itself is ~14GB, if I am not wrong.
@tramplingWillow any leads?

[2018-03-02 17:29] tramplingWillow commented on #12
@amanmehta-maniac , No, you need not. As @mommi84 has mentioned, just a subset is needed to perform the analysis. I figure it's important that you simply get yourself familiarised with the workflow of the RVA Algorithm based embedding system.

[2018-03-02 17:32] amanmehta-maniac commented on #12
Cool. Which substitute dump would be good? Can you link me up with the dump you used? :)

[2018-03-02 17:46] mgns opened #15 "Automatic schema alignment between DBpedia mappings in different languages"
# Description
DBpedia has diverse mapping communities and, sometimes amphisemy between languages or, lack of coordination, may lead to the use of wrong properties for a DBpedia mapping between different languages. A classic example of the elevation of a mountain that is described and mapped as dbo:elevation across most languages except Spanish where they were using dbo:height because both concepts

[2018-03-02 18:34] tramplingWillow commented on #12
Here, https://dumps.wikimedia.org/enwiki/latest/
This is the index for the latest wiki dumps. I used the dump with the article names and abstracts.
https://dumps.wikimedia.org/enwiki/20180220/enwiki-20180220-pages-articles1.xml-p10p30302.bz2

[2018-03-02 21:10] amanmehta-maniac commented on #12
My 'AnchorDictionary.csv'  comes out to be blank. Should it be blank? I think it should be, but just confirming.
Also, while running `python WikiDetector.py enwiki-20170520-pages-articles.xml', I get a FileNotFound for file: "EntityGender.csv". How do I solve this?

[2018-03-03 03:12] tramplingWillow commented on #12
### Running the RVA-based embedding Algorithm.
1. I used the wikipedia [dump](https://dumps.wikimedia.org/enwiki/20180220/enwiki-20180220-pages-articles1.xml-p10p30302.bz2) as input to WikiExtractor.py
2. Next, we clean the xml dump and extract plain text using the script WikiExtractor.py using the following :
[code]
3. Then we make the global dictionary, AnchorDictionary.csv using the script Make

[2018-03-03 11:34] nandana commented on #15
@mgns the link to the paper seems to be broken. Can you please you this one? Thanks!
[https://svn.aksw.org/papers/2018/SAC_DBpedia_mappings_alignment/public.pdf](https://svn.aksw.org/papers/2018/SAC_DBpedia_mappings_alignment/public.pdf)

[2018-03-03 14:32] jimkont commented on #15
fixed

[2018-03-05 11:29] vindex10 commented on #12
*to support a trend of posting HowTo's*

Running RVA
------------------
In the process of running RVA provided [here](https://github.com/akshayjagatap/embeddings/tree/master/gsoc2017-akshay) I encountered several issues. This post is to highlight them.

It is convenient for testing purposes to try embedding algorithms on data you are expert in. [Special:Export](https://en.wikipedia.org/wiki/Specia

[2018-03-07 11:50] mommi84 commented on #12
We really appreciate your exchange of how-to's!
Looking forward to reading your project proposals.

[2018-03-10 01:18] danbutron commented on #11
hi I'm a student of Computer Systems Engineering in Mexico .I'm interested in contribute in this project for gsoc 2018.

[2018-03-11 14:51] jimkont commented on #11
Welcome @danbutron, we always welcome contributions !
This is a warm-up task for gsoc 2018,  let us know if you have any questions for this task and, go through wiki.dbpedia.org/gsoc2018 (if you didn't already)

[2018-03-11 17:04] vindex10 commented on #12
I made some research in OOV embeddings. I found out that there are two kinds of "word closeness": semantic and morphological. First one is good for in-vocabulary-embeddings and is well implemented with word2vec. But, when one sees unfamiliar word, he just trying to decompose it into parts, that is how morphological metrics work. Facebook implemented this approach in their [FastText library](https:

[2018-03-12 03:04] tramplingWillow commented on #12
Recent papers have shown that investigating spelling of unseen words is a source of auxiliary data. Apart from that, there is the possibility of using the definition of those rare words as some external data. Since these words are going to be rare in occurrence, we can embed these definitions with the help of a different LSTM-RNN. Thus, the network can be trained to produce embedding of a dictiona

[2018-03-12 17:26] mommi84 commented on #1
The GSoC 2018 student applications are officially open! Please elaborate your proposal in a Google doc. When you're done, share it with my username at gmail.com, so I can invite also the other mentors. Deadline: March 27.

[2018-03-12 21:33] mstanojevic118 commented on #15
Hello,

I read your paper and I am interested in working on this task for GSoC 2018. Did you somehow account for class imbalance in your algorithm? I think that great results you got are consequence of high class imbalance and in cases where labeled data set is more balanced, you have much worse results (93% vs 67%).

I'd like to do this project by adding some more features (for example in case of

[2018-03-13 09:10] mgns commented on #5
Hello @icemc, yes a proposal for this project is highly welcome.

[2018-03-13 10:29] mgns commented on #3
Simply summarize your findings in a Google Doc and share it with me.

[2018-03-13 11:31] nandana commented on #15
Thanks a lot @mstanojevic118 for the interest in this project!

The class imbalance and the limited number of annotations were definitely two weak points in the study. Though we could have rectified the class imbalance using an oversampling technique such as SMOTE, we believe it would be much better if we can get more annotations for wrong mappings. Your hypothesis that the high results are due to

[2018-03-14 14:22] khikmatullaev commented on #3
@mgns would you like to give me your gmail? I want to share the result of the warm up task.
By the way, I did not find how I can add myself to the slack chat of DBpedia? Would you like to give me instruction?

[2018-03-14 14:40] Hrishidelta commented on #3
Hi @khikmatullaev ,
For joining slack forum of DBPedia, go to this [link](https://dbpedia-slack.herokuapp.com/).
Enter your e-mail ID and verify.

[2018-03-15 16:54] mgns commented on #3
Just share it to: knuth@informatik.uni-leipzig.de

Thanks!

[2018-03-16 09:30] mgns commented on #3
Just invite me: knuth@informatik.uni-leipzig.de

Thanks!

[2018-03-16 12:41] mommi84 commented on #12
The GSoC 2018 student applications are officially open! Please elaborate your proposal in a Google doc. When you're done, share it with my username at gmail.com, so I can invite also the other mentors. Deadline: March 27.

@vindex10 and @tramplingWillow: I think the use of n-grams could help, but what would happen if an n-gram does not belong to the training set? What are the chances that all poss

[2018-03-16 14:43] vfrico commented on #15
I find this proposal really interesting and challenging. As @mstanojevic118 mentions, the class imbalance could have introduced a bias into the classification. During the GSoC would be a good work to generate more labeled examples.

I would like to play a bit with knowledge graphs embeddings on different DBpedia's and find if it is possible to identify "relevant" relations.

I'm working on my prop

[2018-03-20 19:19] srtarun commented on #1
Interesting project! I have started working on it already. Will submit my proposal soon.

[2018-03-21 11:13] mommi84 commented on #1
Only **6 days to go**!

Please share your document with us now, if you would like to have some feedback from the mentors before the final submission to the GSoC console.

[2018-03-21 11:13] mommi84 commented on #12
Only **6 days to go**!

Please share your document with us now, if you would like to have some feedback from the mentors before the final submission to the GSoC console.

[2018-03-21 11:18] nandana commented on #15
This is just a friendly reminder that it's only **6 days to go**!

Please feel free to share your proposals with us before the official submission so that we can give you some feedback on how to improve them.

[2018-03-21 16:49] nandana commented on #15
@mstanojevic118 @vfrico sure, please use the "share your draft" functionality of the app!

[2018-03-22 08:58] MarianoRico commented on #15
Dear @mstanojevic118  and @vfrico, thanks for your comments. Besides the theoretical enhancements (imbalance or/and new features), I also consider as very relevant to focus on how can we move this handcrafted approach to something more automated. I imagine a web tool aimed at assisting users on annotating efficiently.

[2018-03-22 12:55] mstanojevic118 commented on #15
Hello @nandana @MarianoRico, I shared with you yesterday (today early morning in European time) my proposal through GSoC dashboard. I have some questions there, so if you can check my proposal and add some comments, it would be very helpful. Thank you.

[2018-03-22 21:14] amanmehta-maniac commented on #1
@mommi84 I have completed my warmup task by training the NSpM model on class dbo:Garden.

[2018-03-23 11:51] mommi84 commented on #1
@amanmehta-maniac Great. Please elaborate your view of the project and your findings in a Google document and share it with me at gmail.com. Use [this one](http://tommaso-soru.it/files/misc/Akshay-DBpedia-GSoC-2017-proposal.pdf) as a reference for a good proposal. Send it out on Sunday 25th at the latest, so we can give you some feedback.

[2018-03-24 01:18] Gautamshahi commented on #5
@mgns I have experience of working with SILk, Do you want to build a linking interface or create link data by using the existing interface like SILK?

looking forward to having a discussion.

[2018-03-24 02:44] shubhamvb commented on #3
Hi @mgns , I read the project description and I am interested in working on it. I just wanted to clear a few queries I had.
I am not sure I understand when you say the captions are not unfirmly and hence we would require an alginment. What does alignment refer to in this case.

Thanks!

[2018-03-24 11:31] nandana commented on #15
Thanks for sharing the draft with us!  I went through the current version today and left you some comments!

[2018-03-25 13:42] amanmehta-maniac commented on #1
@mommi84, there are around 770 total number of DBpedia classes and hence what would be a realistic 'X', where X is the number of classes that I will train this NN for during the GSoC tenure.
Also, another matter of concern is, will I be getting access to any server, because this project involves training NN which is highly CPU intensive and takes order of hours on 64 core-CPU and 512 GB RAM machin

[2018-03-25 16:21] mommi84 commented on #1
@amanmehta-maniac We expect to have one final QA model, not as many as the number of classes. Moreover, these 770 classes are organized in a taxonomy. We will likely be able to grant the student access to our servers upon availability for a limited time (up to 14 days in a row). Of course, additional hardware provided by the student's institution is welcome.

[2018-03-26 08:01] vfrico commented on #15
I've also shared a draft on the GSoC page. I hope that @nandana @MarianoRico @jimkont can take a look and receive feedback!.
Thanks

[2018-03-26 09:19] nandana commented on #15
Thank you @vfrico! We will go through the proposal and provide some feedback today.

[2018-03-26 09:51] mgns commented on #3
The project first should extract a TOC for each article in Wikipedia. The TOC should contain all headings and subheadings of the article with the respective label and order.
In order to make these TOC entries better comparable it would be nice, they were mapped to some common vocabulary. Take for example the entry "Life" in the article on [Vincent van Gogh](https://en.wikipedia.org/wiki/Vincent_va

[2018-03-26 10:04] mgns commented on #5
SILK is one option for creating links between datasets. Using SILK has some problems: one is the configuration, which needs some expert knowledge; another one that both datasets need to be loaded to a SPARQL endpoint; furthermore there might be non-RDF datasets, such as a JSON or CSV of names and identifiers from a authority dataset (such as https://dictionaryofsydney.org/browse/person).
Question

[2018-12-02 21:32] #1 closed

[2018-12-02 21:32] #3 closed

[2018-12-02 21:32] #14 closed

[2018-12-02 21:32] #15 closed

[2018-12-02 21:32] #12 closed

[2018-12-10 19:45] MarianoRico opened #16 "Tool to generate RDF from DBpedia abstracts (natural language text)"
# Description
With the recent advances (e.g. [SyntaxNet](https://opensource.google.com/projects/syntaxnet)) in the analysis of texts in natural language, the conversion of texts into RDF triples is becoming a real possibility. This project will apply these ideas to a real use case: DBpedia. We will add the power of syntactic analyzers with the benefits of Name Entity identifiers (like [Spotlight](

[2018-12-12 09:57] beyzayaman commented on #16
Hi Mariano. I think this is a good idea but something is not clear for me. Is the impact only increasing the number of triples or is it also improving the tool? Because if it is the first case @chile12 and I developed a tool for Springer Nature abstracts which can be also used for DBpedia abstracts as well. Besides, as an option I would suggest to integrate some other performance tools to this ide

[2018-12-15 18:43] mommi84 opened #19 "A Neural QA Model for DBpedia (GSoC 2019)"
# Previous projects
This project idea is a follow-up of GSoC 2018 project [A Neural QA Model for DBpedia](https://github.com/dbpedia/GSoC/issues/1).

# Description
In the last years, the Linked Data Cloud has grown to over 100 billion facts pertaining to a multitude of domains. The DBpedia knowledge base consists of 4.58 million things on its own. However, accessing this information is challenging

[2018-12-17 11:31] MarianoRico commented on #16
Well, we can use the tools you mention as "warm up" tasks.
Do you have some paper describing the [sci-graph-links tool](https://github.com/dbpedia/sci-graph-links)?

[2018-12-19 19:46] krishh-konar commented on #6
Continuing the last year's project, we plan on adding the following things to this years project. Following are the initial requirements:

* Create a UI for the extractor that is intuitive, user friendly and easy to use. (Planning to use Django/Flask).
* Need a scalable, cross platform application that can use existing codebase to generate more triple for DBpedia's dataset. (Dockerizing the existi

[2018-12-19 19:49] krishh-konar commented on #6
@lucav48 and me will mentor this project.

[2018-12-20 14:48] beyzayaman opened #24 "Extending Extraction Framework with Citations, Commons and Lexemes Extractors"
# Description
DBpedia is a crowd-sourced community effort to extract structured content from the various Wikimedia projects which is publicly available for everyone on the Web. This project will improve the DBpedia extraction (https://github.com/dbpedia/extraction-framework) process which is continuously being developed by community with citations, commons and lexemes information.

# Goals
Student

[2018-12-20 15:08] beyzayaman commented on #16
Here is the tool: https://github.com/beyzayaman/NER-assessment-for-springer-nature-abstracts
But there is no further documentation about it except on the page. In case it is necessary I might try to prepare some.

[2018-12-31 22:10] ram-g-athreya opened #27 "Predicate Detection using Word Embeddings for Question Answering over Linked Data"
# Description
Question answering over Linked Data can be broadly segmented into three tasks. Identifying named entities, identifying predicates (relation extraction) and finally generating a precise SPARQL query that can answer the question by using the identified entities and predicates.

Relation extraction is one of, if not the hardest step in this process and the dominant method is the usage o

[2019-01-05 12:56] sinAshish commented on #27
The project idea seems very interesting. I'll start by reading the LC-QUAD paper. 😃

[2019-01-10 08:12] wannabeOG commented on #19
Great idea, I have opened up some issues which I found while running the initial tests. Would like to work on this project.

[2019-01-10 19:26] DiegoMoussallem opened #31 "A Multilingual Neural RDF Verbalizer"
### Description:

Natural Language Generation (NLG) is the process of generating coherent natural language text from non-linguistic data (Reiter and Dale, 2000). Despite community agreement on the actual text and speech output of these systems, there is far less consensus on what the input should be (Gatt and Krahmer, 2017). A large number of inputs have been taken for NLG systems, including image

[2019-01-15 06:46] AnubhavUjjawal commented on #8
Hi. This is in reference to issue #24 . I downloaded the project and ran a dump-based extraction. Everything went well, just faced a java issue(Had to make sure to use java1.8, used jenv for this.) before the extraction. However, I had to stop the `../run download download.10000.properties` command  at
`date page 'https://dumps.wikimedia.org/wikidatawiki/20190101/' has all files [pages-articles-mu

[2019-01-15 17:17] SilentFlame commented on #31
This problem statement really interests me, I'll look around with the papers mentioned and get back with queries if stuck in between.

[2019-01-16 05:44] AnubhavUjjawal commented on #9
I created a [pull request](https://github.com/dbpedia/extraction-framework/pull/571) in reference to this warm-up task.

[2019-01-17 12:56] JJ-Author commented on #9
see e.g. also https://github.com/dbpedia/extraction-framework/commit/f60edd4002081ef7350f2a1111bac47b52f1541c which is not yet merged to master but shows some language specific configuration for the number parser

[2019-01-17 13:11] AnubhavUjjawal commented on #9
Ok?  Should I check the language specific configurations made in  https://github.com/dbpedia/extraction-framework/commit/f60edd4002081ef7350f2a1111bac47b52f1541c  if they are correct or not?

[2019-01-17 13:19] JJ-Author commented on #9
no it was just an additional note. in case other people do use this as warmup task as well that they do not duplicate the work already done ;-). luckily in your case that did not happen

[2019-01-20 10:53] DwaraknathT commented on #27
Hey everyone, this is a wonderful idea that can be very useful. I have gone through the suggested papers and dataset and considering the not so easy task of reading papers, I would like to summarize the papers. May I know if I submit my summaries or if yes, where?

[2019-01-21 01:31] mommi84 opened #33 "Explainable Knowledge Discovery on DBpedia"
# Description
The [latest DBpedia release](http://downloads.dbpedia.org/databus/data/core/) comprises a knowledge graph having 326,035,765 edges. As the data originates from a human-generated wiki, the graph is far from being complete. This project idea aims at the realisation of an algorithm to perform **knowledge base completion** (or link prediction) on DBpedia. We want to tackle this problem u

[2019-01-21 03:14] ram-g-athreya commented on #27
Hi @DwaraknathT

Great that you are interested in the project! Reading the papers would be a great help in understanding the problem domain and could help in generating new ideas.

One suggestion would be to including your summary as part of your proposal which could make a stronger case for your proposal.

Hope this helps.

Thanks
Ram G Athreya

[2019-01-29 13:54] beyzayaman opened #35 "Pay-As-You-Go Quality Evaluation of the DBpedia Resources"
# Description
Extraction of the triples from unstructured sources causes several quality problems. These problems causses wrong results in the information retrieval systems. Nonetheless, the quality has both subjective and objective point of view. While some quality dimensions can be assessed using generic tools (objective), others need crowd-source evaluation of the resource (subjective). This pr

[2019-01-31 13:44] DiegoMoussallem commented on #31
@DwaraknathT I have been following your summaries, let me know if you need some help. We can have a talk as well. Looking forward to next summaries.

[2019-01-31 13:47] DiegoMoussallem commented on #31
@SilentFlame How about you? How is it going with the papers?

[2019-01-31 14:35] DwaraknathT commented on #31
@DiegoMoussallem  Thank you, I appreciate any comments or suggestion syou have for me. Right now, I'm trying to reimplement NeuralREG code but with transformers, to see how much gains we might be abe to get. The fundamental algorithm is same, but it was just a hunch to understand the code properly. May I contact you on slack for further discussions ?

[2019-02-01 09:00] beyzayaman commented on #35
Yes, please do as long as you have questions!

[2019-02-01 10:22] DiegoMoussallem commented on #31
of course, you may contact me. I got your point about checking with the Transformer, but it might not be so necessary at the moment.

[2019-02-04 17:53] shubhamtripathi-work commented on #6
I am facing the same issue. Did you report it or not? Was it solved?

[2019-02-06 10:36] shubhamtripathi-work commented on #6
Did you find a solution for this? I am facing the same issue. I have a MacBook Air.

[2019-02-07 07:41] krishh-konar commented on #6
This is due to the mismatch in Java version.
This is still an existing issue, which needs to be resolved by isolating the underlying infrastructure. The plan for this years GSoC would be isolating this, probably by containerising it.

In the meantime, you can have another version of Java 8, and run this using that.

[2019-02-07 07:49] shubhamtripathi-work commented on #6
Thank You for the clarification. I did check the main repository and found
your comment suggesting to use the Java 8. Sorry for not notifying.

I wil add to the documentation if it hasn’t been already. Again, thanks for
the clarification.

On Thu, 7 Feb 2019 at 1:11 PM, Krishanu <notifications@github.com> wrote:

[2019-02-07 07:55] krishh-konar commented on #6
No issues.
It would be more useful right now if you look into the actual list and table extractor repos, it might give you a better idea on how the extractor really works. The plan for this project includes a decent code restructuring, and it would be helpful for you to understand the core logic behind the extractors.

[2019-02-12 14:24] srivama commented on #33
I’d like to co-mentor this project @sandrapraetor

[2019-02-13 20:13] mommi84 commented on #19
Hi @wannabeOG! Thanks for your interest. Please open a pull request, if you think you can fix those issues. Have you thought which research direction you would like to explore?

[2019-02-15 10:09] g-laz77 commented on #27
Hi,
I have gone throught the LC-QuaD and Enriching word vectors papers. I have also previously worked on a couple of deep learning projects in pytorch and have used fasttext embeddings as well. It would be a great opportunity to work on this project. What should I do next in order to start contribution to this project?

[2019-02-15 12:04] sinAshish commented on #27
Thanks for the suggestion on proposal writing @ram-g-athreya

[2019-02-15 16:31] g-laz77 commented on #33
Hi,
I would like to work on this project. From what I understand it looks like an exploratory project where I have to analyse sets of data to recognize patterns(rules). Will this also involve working on  any ML algorithm to learn the pattern?

[2019-02-16 01:45] ram-g-athreya commented on #27
Hi @g-laz77

Great that you are getting familiar with the problem. Since our project relies on the semantic web it might be a good idea to familiarize yourself with SPARQL and querying DBpedia in general. You can also start working on your proposal and thinking about how you would solve the problem, especially how you would match the words in the question with the predicates in the knowledge graph

[2019-02-16 20:12] mommi84 commented on #33
Hi @g-laz77 and thanks for your interest.

Yes, the proposed algorithm [HornConcerto](https://github.com/mommi84/horn-concerto) just performs a basic mining of rules and their confidence values. It can definitely be improved with ML and I recommend to include it in the project proposal. Did you think of any ML algorithm in particular?

[2019-02-18 13:08] yudhik11 commented on #19
Hi
I have gone through both the papers as mentioned above which gave me good insight.
Also, after going through the [blog](https://amanmehta-maniac.github.io/), I was successfully able to reproduce the experiment in which I kept the  param `--num_train_steps = 12000` where I achieved **dev bleu** **_88.1_** and **test bleu** **_87.3_** .

Currently, I am going through the code more extensively, bu

[2019-02-21 14:30] amanmehta-maniac commented on #19
Hi @yudhik11, thats a good start. I suggest you to go ahead with warm-up task number 2, that is - downloading & editing a sample template and trainimg a Neural SPARQL Machine model. Please go through the mentioned wiki while you do so.

[2019-02-24 17:34] g-laz77 commented on #33
@mommi84 I have gone through the paper [Beyond Markov Logic: Efficient Mining of Prediction Rules in Large Graphs (2018)](https://arxiv.org/pdf/1802.03638.pdf). I have understood how the basic mining of rules is done by calculating the confidence score of a said rule. This is done by simply checking the co-occerence of that rule with the top P properties(their highest occurence counts) to get the

[2019-02-25 07:57] rishabhjoshi commented on #27
Hi
Your proposal seems really interesting! I have extensively worked on Distantly Supervised Relation Extraction (given the entities) and have proposed a neural model that is based on Side Information and GCN. The work was done under [Prof. Partha Talukdar](https://scholar.google.com/citations?user=CIZwXAcAAAAJ&hl=en) in the Indian Institute of Science, Bangalore. It was accepted in EMNLP 2018. So

[2019-02-26 13:52] g-laz77 commented on #27
@ram-g-athreya I have gone through the youtube video on SPARQL and the exercises on the **SPARQL by examples page**. I am now familiar with SPARQL. I also read the **RESIDE** paper suggested by @rishabhjoshi . The approach is good for Relation Extraction(predicate detection), given the entities. It makes use of Syntactic side information acquisition for searching in a common embedding space.  The

[2019-02-27 00:04] mommi84 commented on #33
@g-laz77 The LinkNBed paper does indeed target also link prediction using representation learning. However, it is well known that deep learning models often lack the possibility to explain their own predictions. How do you expect to address this problem?

[2019-02-27 14:18] g-laz77 commented on #33
@mommi84 I agree. Deep learning models have the problem of model interpretebality. Although, I recently came across this library in python called [Skater](https://github.com/datascienceinc/Skater),  which is a unified framework to enable Model Interpretation. Since this is an exploratory project, would it not serve the purpose along with using `hornConcerto` to mine more rules?

[2019-02-27 16:44] yudhik11 commented on #19
I am stuck at one of the steps while following the [PIPELINE](https://github.com/dbpedia/neural-qa/blob/master/PIPELINE).
Let's say I want to go with **dbo: Continent**, I tried extracting the properties as mentioned in the pipeline from links [ontology](http://dbpedia.org/ontology/Continent), [page](http://dbpedia.org/page/Continent) but was not successful.

Can anyone guide me through this?

[2019-02-27 17:35] mommi84 commented on #33
@g-laz77 It sounds worth exploring to me. Please elaborate how you would proceed in a Google doc and share it with my GitHub handle at gmail dot com.

[2019-03-02 08:52] PseudoNerd commented on #11
I'm interested in issue #2 and would like to work on this. Should I wait for this to be assigned to me or start working on it at the earliest?

[2019-03-02 11:42] PseudoNerd commented on #2
I am Tanmay, I'm an undergraduate from India.

I'd like to work on this project for the coming summer of code.
 I had mentioned a query about the warmup-task associated with it and would like to take it up.

[2019-03-04 11:12] mommi84 commented on #11
Hi @PseudoNerd and thanks for your interest. The issues described in this page are just supposed to be warm-up tasks, so none of them is not going to be selected as a potential GSoC project. You're free to start working on it, however I'd recommend to focus on a project proposal for project #2.

[2019-03-04 11:20] PseudoNerd commented on #11
Thank you.

Also, where should I send the first draft of the project proposal to the mentors for evaluation so that I could pointers for writing the final one?

[2019-03-04 11:58] mommi84 commented on #11
We are still deciding who will be mentoring project #2, so by the rules @beyzayaman and I are co-mentors ad interim until we have a name.

[2019-03-04 14:56] amanmehta-maniac commented on #19
The URI (for Place class ) is http://mappings.dbpedia.org/server/ontology/classes/Place. Are you done with warmup-task 2 though? I'd suggest you go through the warmup tasks in the mentioned order. You do not need PIPELINE to be able to complete your warmup task 2.

Keep me updated.

[2019-03-04 18:15] sahitpj commented on #16
Hi Marino, I am interested in taking up this project up. I have a good understanding in Natural Language processing including POS tagging and Entity extraction. I am familiar with the use and how SyntaxNet works. How can I proceed towards this project?

[2019-03-08 06:40] ky-zhang commented on #33
Hi,
I have gone through the paper **Beyond Markov Logic: Efficient Mining of Prediction Rules in Large Graphs**. I have previously worked on two papers related to graphs in C++ and python. Now I am working on a research project related to adversarial learning on graphs. So it would be a great opportunity for me to work on this project. What should I do next if I want to start contribution to this

[2019-03-09 21:01] yudhik11 commented on #19
I have worked upon the Task-2 by training on **multiple classes** and by trying different **total annotations**.
A brief summary is cumulatively shown [here](https://goo.gl/CQc1dj).
I plan to run the experiment with **more variety of classes** and **complex SPARQL queries**.

Currently, I am starting with Task-3 which was 'reproducing the experiments.'

[2019-03-10 03:59] aditya-malte commented on #31
I find this problem interesting. We could improve the state-of-the-art by implementing a Transformer architecture(A. Vaswani et. al.) for these very same paper.

[2019-03-10 04:11] aditya-malte commented on #16
Hello Marino,
I find this project very interesting (and in fact similar to a pet project that I am working on) I have experience with RDFs, SyntaxNet and other parsers. I also know the procedure of converting the parse tree to RDF triples.
I would be delighted to work on this project.
Regards,
Aditya Malte

[2019-03-10 08:16] LakshanSS commented on #2
Hi! I am Lakshan. I am interested in doing this project. I am familiar with ReactJs and JavaScript. I would like to work on this in GSOC 2019.

[2019-03-10 11:39] mrinal1209 commented on #35
Hello , I am postgraduate student from India and this is my first time for GSOC . I am qualified web developer and contribute in PHP and Java based projects and I would love to be part of your organization for this GSOC19 as I can see you have listed some warm up task I would like you guys to know I am contributing for the same.

[2019-03-11 08:02] beyzayaman commented on #35
Hi @mrinal1209 and @maykillmore . I suggest that as far as you have some questions contact with me so that you can improve faster. IF you try some of the warm up tasks and share with us (like found errors) it would be good to see it.

[2019-03-11 08:04] beyzayaman commented on #2
Hi @PseudoNerd and @LakshanSS. If you try some of the warm up tasks and share with us (like found errors) it would be good to see it.

[2019-03-11 11:46] akata01 commented on #2
Hi, i am akata. I would like to work on this project for gsoc 2019. I will start with the error finding warmup task as mentioned by @beyzayaman .

[2019-03-11 14:56] Saichethan commented on #33
Is this still open I want to be mentor how can I know if I am eligible

[2019-03-11 16:54] mrinal1209 commented on #35
@beyzayaman  what sort of technology can we use for this project ?

[2019-03-11 18:34] PseudoNerd commented on #2
I am currently pursuing a warm-up task and also taking a little more time with DBpedia.
I'll be making a spreadsheet soon.
Sorry for the delay.

[2019-03-12 10:02] beyzayaman commented on #35
@mrinal1209  It is up to you but triple checkmate is in Java so it may be useful to proceed with that one. What was your idea?

[2019-03-12 13:15] DiegoMoussallem commented on #31
Hi @aditya-malte It sounds good. Could you send me a message with the details?

[2019-03-12 14:18] mrinal1209 commented on #35
@beyzayaman  I was luckily thinking Java too . Well I am on reading the  papers provided above.

[2019-03-12 14:26] beyzayaman commented on #35
Do you guys have any background on OWL, RDF technologies? Also Please take into account that you need to write a proposal by the 9th of April so it would be a good idea to keep the reading period as short as possible and try to write some ideas so that we can improve together.

[2019-03-12 14:26] mommi84 commented on #33
@ky-zhang Hi and thanks for your interest! Can you please post the links to the two papers? If you have completed the warm-up tasks, the next step would be to outline a possible integration of adversarial learning or any other ML technique with the project. Prepare a draft and invite my GitHub handle at gmail dot com.

@Saichethan Hi! You can mentor a project in one of the following cases: 1. you

[2019-03-12 15:52] mrinal1209 commented on #35
@beyzayaman  I have found a small bug on the DBPedia website itself I have attached a POC link for the same :- https://drive.google.com/open?id=1eQJazwOWgdtWQ7RUmmmV4Xx1tO_GdHBX   as well can you tell is there any bugs portal like (JIRA) where we can start contributing ?

[2019-03-12 15:54] mrinal1209 commented on #35
@beyzayaman I dont have any background in OWL and RDF technologies but I assure that this summer I dont have any commitments and can learn while working as quick as possible

[2019-03-12 16:04] mrinal1209 commented on #35
@beyzayaman  @maykillmore  guys I am using this blog to understand owl and rdf :-

http://w3schools.sinsixx.com/rdf/rdf_owl.asp.htm

[2019-03-13 14:09] tramplingWillow commented on #2
Hello everyone, it is good that you have started working on the warm-up tasks. However, I would like to encourage you all to write your proposal for your chosen projects. This will allow us to review and suggest changes well before the submission deadline. Thanks!

[2019-03-13 20:12] ky-zhang commented on #33
@mommi84 Thank you for your reply. The papers haven't been published, I will send you an email with the draft papers and a pre-proposal for the project.

[2019-03-14 17:31] Dewalade1 commented on #19
Hi, I would like to apply for gsoc. I would like to work on this project.

[2019-03-15 07:58] GingerEater commented on #27
Hi,
I'm in the process of writing the proposal. I have a question: is there some existing module in DBPedia that provide SPARQL query generating service can be used in this program? Or this part also needs to be done by myself?
Thanks and looking forward to your reply!

[2019-03-16 23:53] ram-g-athreya commented on #27
Hi @GingerEater

You would have to generate the SPARQL queries yourself. But it would be based on the templates in LC-QuAD.

Hope it helps.

[2019-03-17 00:06] PseudoNerd commented on #2
I've already made a list of certain bugs in DBpedia but feel like the list doesn't fully cover DBpedia fully. Also, I've been working on the proposal for this project.
Will it be okay to submit the mock proposal and the spreadsheet on 22nd of this month?
I have my exams going on and hence the delay.

[2019-03-17 06:53] tramplingWillow commented on #2
That's okay, we look forward to going over the list you curate. You can share the spreadsheet with the appropriate links through mail, or you can simply share the document and we will leave our comments on it. I myself created a GitHub repository and shared the link with my mentors last year.

Yes, as the submission period begins from March 25th, it will be good to review your proposal before that

[2019-03-20 00:06] mommi84 commented on #19
Thanks for sharing your results @yudhik11 and thanks for your interest @Dewalade1. Have you guys already started writing your proposals? When you think your ideas are mature enough, please share a Google doc with my handle at gmail dot com. Remember to specify which research direction you may want to investigate.

[2019-03-20 13:09] karankharecha opened #38 "Dataset recommendation system in databus for several analysis. Integrating chatbot with the main website and DBpedia databus to get the dataset information."
### Description

Currently, the chatbot is not available on the **main website** and enhancing the chatbot by integrating it with the main website and DBpedia databus for dataset information would do a great deal for users. Firstly, the scope of chatbot will be increased by adding more narrations and dialogues in order to generate more relevant responses. Another functionality is **recommendation

[2019-03-22 03:32] ram-g-athreya commented on #38
Hi @karankharecha

Could you please elaborate on what exact activities that you envision the chatbot to manage with regards to finding datasets or with regards to the Databus integration. Example queries and/or an example user flow would also be helpful if possible.

Thanks
Ram G Athreya

[2019-03-22 04:59] mrinal1209 commented on #35
@beyzayaman  Hi I am thinking to start making project proposal for this project Things I have done till now are reading paper Quality Assessment Methodologies for Linked Open Data as well gone through the code base Triple Check Mate tool , also did some handson tutorials on RDF with java . Can you suggest something else can I do to make a good GSOC proposal .

[2019-03-22 08:20] beyzayaman commented on #35
Hi! @mommi84 shared a succesful project proposal, you can check that:
 http://tommaso-soru.it/files/misc/Akshay-DBpedia-GSoC-2017-proposal.pdf
In the meantime please share your ideas. I guess quality issue must have been clear now and you can share what you have found on data as well. You can create documents and share it with me in the mail given on Mentors page so I can review it.

[2019-03-22 09:10] g-laz77 commented on #33
@mommi84 I have sent you an email with a starter plan for the proposal around a week ago. Have you received it?

[2019-03-22 10:14] mommi84 commented on #33
Yes, @g-laz77. I've forwarded it to the other mentors and we will get back to you tomorrow.

[2019-03-22 14:51] akata01 commented on #2
Hey, @tramplingWillow , @beyzayaman i am working on the proposal for this project. I want to clear something about the tool for data quality assessment for this dashboard.
There are three data quality assessment tools mentioned in Quality assessment methodologies for Linked open data :
1) Flemmings data quality assessment tool.
2) Sieve.
3) LODGRefine.

For this dashboard, are we supposed to use o

[2019-03-22 15:47] beyzayaman commented on #2
Hi @akata01. You can just use one framework. The tools there are not so up-to-date. So I would suggest you look at [RDF Unit](https://github.com/AKSW/RDFUnit) which mainly used in DBpedia and forget about the others.

[2019-03-22 18:14] karankharecha commented on #38
Hello @ram-g-athreya

The enhancement thing that I'm talking about is that, chatbot should be able to respond to user whenever user queries about any dataset. Right now chatbot answers general questions like:

where is berlin? and user receives the response about berlin.

But if the question is like: Provide historical data of weather in Berlin?

It won't provide the dataset. Furthermore, when it

[2019-03-24 07:02] mugdhajoshi commented on #19
I stuck at running build_vocab.py file. The code is written in python2.7 and now I have installed python2.7 and not able to install tensorflow getting this while installing:
" Could not find a version that satisfies the requirement tensorflow (from versions: )
No matching distribution found for tensorflow"
I think tensorflow only supports python3.5 and above.
Can someone help me?

[2019-03-24 11:22] yudhik11 commented on #19
Always mention which OS you are using and FYI Tensorflow is supported on python2.7

If you are using **ubuntu**:

- Firstly it is advised to make a **virtualenv**, so that you can modify/add some dependencies without affecting the whole system.
- Once you are done with that, do:
[code]

[2019-03-24 13:41] mugdhajoshi commented on #19
I am using Windows10 .
https://www.tensorflow.org/install/pip?lang=python2
In the link above under '2. Create a virtual environment (recommended)'
for windows it is saying "TensorFlow is not supported on Windows with Python 2.7"

[2019-03-24 14:14] wannabeOG commented on #19
I haven't been in touch with Windows for some while now, but I do remember that TF was only compatible with Python 3 on Windows, This issue ("https://github.com/tensorflow/tensorflow/issues/23603") makes me believe that there is no 2.7 package readily available for Windows.  That being said, there are a couple of alternatives that could be used to bypass this problem. Please keep in mind that thes

[2019-03-24 23:55] nausheenfatma commented on #19
Hi @mugdhajoshi, if you are facing a lot of compatibility issues, you may also consider to install an Ubuntu. This link shows how to install Ubuntu on a Windows from here: https://tutorials.ubuntu.com/tutorial/tutorial-ubuntu-on-windows#0.

[2019-03-25 03:38] mugdhajoshi commented on #19
Thank you @wannabeOG,  @nausheenfatma for your comment.
I have successfully installed ubuntu in virtualbox.

[2019-03-25 07:59] nausheenfatma commented on #19
@mugdhajoshi great that you could make it work. Since the proposal deadline is approaching, you might quickly start discussing your ideas after doing the warm up tasks.

[2019-03-26 02:04] tramplingWillow commented on #2
Hi everyone, please ensure that you submit a draft of your proposal for us to review and provide you with valuable feedback. Application period has already begun, so please plan accordingly.

[2019-03-27 13:00] Adavideo commented on #16
Hi Mariano. Very interesting project.
I'm a student in a Master in Artificial Intelligence and I'm very interested in natural language processing and open source. I'll apply for sure.

[2019-03-27 15:26] Adityaperiwal commented on #4
Hello @mgns , I am a Post grad student from India and I am very much interested in this issue. I know that I am quite late, but still I want to contribute to this one(mostly because I am very much interested in gamification thing). I have started understanding the code base of the mapping-tool. Please can you give me more specifications on the warmup task.

[2019-03-28 01:09] joshuabezaleel commented on #8
Hi everyone. I tried the instructions of the dump-based-extraction [here](https://github.com/dbpedia/extraction-framework/wiki/Extraction-Instructions#dump-based-extraction) on both of the download.10000.properties and download.minimal.properties download config file and got an error "`Caused by: java.lang.IllegalArgumentException: Base directory does not exist yet: \data\extraction-data\2018-10`"

[2019-03-29 16:06] theodore3131 commented on #19
Hi, I am working on the warm-up tasks stated in the wiki page and the draft proposal is nearly completed, I have been following this project for a long time and I would like to contribute to this project. And I think that the README.md should state clearly that the environment is python2.7. That will save a lot of troubles and I also wanna know if it possible to upgrade it to python 3.x in this pr

[2019-03-29 17:24] nausheenfatma commented on #19
@theodore3131 : That's great. It's advisable to quickly share your proposal in a Google doc through email stating your ideas for further discussion.

[2019-03-29 17:48] rrichajalota commented on #19
@theodore3131 Of course, it's possible to upgrade the code to python 3.x. If you are willing to do so during the GSoC timeline, then please mention it in your proposal. We would also be happy to have updated documentation for easier installation/execution of the project.

[2019-03-29 22:45] mgns commented on #4
Hello Aditya,

Sorry for the delayed answer. Great to hear about your interest in this task. Could you (1) install the mapping tool, (2) get the tool running and check the interaction with related tools and (3) get to know the code as necessary. It has been developed by some former student and we got it running, but had some issues with user experience. (4) Do some improvements to the UI/UX first,

[2019-03-30 10:03] Adityaperiwal commented on #4
Hey @mgns  I am currently going through the code. Just to be sure, you're talking about [https://github.com/dbpedia/mappings-ui] and not [https://github.com/dbpedia/mapping-tool].

[2019-03-30 16:42] Adityaperiwal commented on #4
Hey @mgns , I have started understanding the code, but it seems that it doesn't work properly on Node versions 8 and above. I have tried many different versions from 8.X.X to 10.X.X but the code isn't working for any of them(specifically the Nodegit module). Though It does work on Node 6.X.X versions.

Just want to say I am currently working on running the tool and understanding the code-base(As t

[2019-03-31 08:10] ovshake commented on #31
Hi @DiegoMoussallem ! I feel this problem statement well aligns with my current research interests and would love to work on it.   I agree with @aditya-malte , transformer architecture should show improvement, but I feel the extra computational complexity introduced by that architecture should be compensated by introducing efficient attention models such as lightweight and dynamic convolutional at

[2019-03-31 08:54] DiegoMoussallem commented on #31
@ovshake Thanks for being interested in this project. Your plan sounds good, I am looking forward to seeing your proposal. Feel free to contact me.

[2019-04-01 11:57] akata01 commented on #2
Hi @mgns, @beyzayaman, @tramplingWillow! I have made a proposal for this project. I am sharing the pdf. Please if you could review it and provide me with valuable feedback.

[DBpedia GSoC proposal 2019(1).pdf](https://github.com/dbpedia/GSoC/files/3029171/DBpedia.GSoC.proposal.2019.1.pdf)

[2019-04-01 12:35] akata01 commented on #2
Hi @mgns, @tramplingWillow, @beyzayaman! I have made a proposal for this project. Should I submit it directly through the GSoC proposal submission page or do I need to send it to you through a mail or any other way you suggest so that you can review and it and provide me with valuable feedback?

[2019-04-01 13:12] beyzayaman commented on #2
Hi @akata01. Maybe @tramplingWillow  and I can do it. Can you please first check if your proposal includes all of the sections from [this](http://tommaso-soru.it/files/misc/Akshay-DBpedia-GSoC-2017-proposal.pdf) successful proposal? Secondly, I will ask you to share with us your proposal in google docs or any editable format so that we can make some comments on it (it can be private mails as well)

[2019-04-01 13:37] akata01 commented on #2
@beyzayaman I have followed the template given here -> https://wiki.dbpedia.org/gsoc-2019.Yes it includes all the sections from the mentioned proposal. I can add you to the proposal's google sheet. Please if you could share your email.

[2019-04-01 13:40] beyzayaman commented on #2
yaman@infai.org

[2019-04-01 13:44] akata01 commented on #2
@beyzayaman here is the link to the google sheet -> https://docs.google.com/document/d/1ED1xtIsbUATLPn7M6PIuuxqcWQlHh4sv4hx4UwgecSU/edit?usp=sharing

[2019-04-01 14:37] akata01 commented on #2
@beyzayaman I have sent you an email with the GSoC proposal google sheet link. (I have deleted the previous comment with the link from here.)

[2019-04-02 08:51] GingerEater commented on #27
Hi @ram-g-athreya

I have already submit the first version of my proposal to the Google website with the name "Yajing Bian " and have corrected the error you pointed out. I have also done the warm-up tasks and completed the word embedding pre-training step~

I'm sorry to trouble you, but last week I send an email to you for further advices, and I didn't receive an answer back until now... I'm just

[2019-04-02 17:54] ovshake commented on #31
@DiegoMoussallem Does "Multilingual" mean the model should be able to generate the referring expression in a language other than the language in which the RDF is given or the model should be able to handle any language as the input RDF (other than the language it is trained on) and should give the RF in the same language?

[2019-04-02 18:24] DiegoMoussallem commented on #31
Hi @ovshake, "Multilingual" means to be able to generate a natural language sentence in multiple languages from a given RDF input <s,p,o>. It is not only about the referring expression generation, but it must also include a complete verbalization, i.e., with articles, verbs and etc.

[2019-04-03 20:39] akata01 commented on #2
@mgns @beyzayaman @tramplingWillow I saw this(@PseudoNerd ) malicious copying my GSoC proposal document. I am uploading the screenshots. I saw him editing and when I asked him if the comments chat, he quickly copied the entire. I have screenshots. I am uploading them here.

file:///home/akata/Pictures/gsoc)copy.png
![copying](https://user-images.githubusercontent.com/34716955/55511637-1490db00-562

[2019-04-03 20:57] PseudoNerd commented on #2
@akata01, First of all, I shouldn't have this link in the first place and it was public.
Second, If you think your proposal was maliciously copied by me or in any way used, then the mentors can have a look at it themselves.

Also, I've been working on this proposal for a very long time and this wouldn't help my cause.

@mgns @tramplingWillow @beyzayaman , I'll get done with my proposal by tonight

[2019-04-03 21:06] ovshake commented on #31
Hi @DiegoMoussallem, I have some questions regarding my proposal, which platform should I use reach out to you that is most convenient to you?

[2019-04-03 21:13] akata01 commented on #2
@PseudoNerd @mgns @beyzayaman @tramplingWillow i can prove that @PseudoNerd  copied my idea and not just by screenshots but with facts.

You just said that you are working on this proposal for a very long time but have you forked the RDFUnit tool repository 2 days ago only. Let me tell you why. Because you read my proposal (i will get to that how you have that link in the first place) and then onl

[2019-04-03 21:24] PseudoNerd commented on #2
My proposal will make anything and everything clear.

[2019-04-04 11:06] DiegoMoussallem commented on #31
Hey @ovshake feel free to contact me on skype diegomoussallem

[2019-04-04 12:59] MarianoRico opened #39 "Golden standard and quality tool for DBpedia types"
# Description
Several works from academia and industry exploit the "type" of DBpedia resources. This "type" is [a class in the DBpedia ontology](http://es.dbpedia.org/classtree.html), like Person, Movie or Device. The "type" comes from (1) the Wikipedia infobox of the resource and (2) the mapping created by humans. Therefore, DBpedia extractors **cannot** assign a type to a resource when (1) the r

[2019-04-04 19:33] ovshake commented on #31
I have messaged you on skype.

[2019-04-05 07:23] ovshake commented on #31
@DiegoMoussallem I have shared my proposal on the GSoC platform. Do review it you at your convenience.

[2019-04-05 12:36] g-laz77 commented on #33
@mommi84 I have completed the proposal. Kindly review it

[2019-04-05 17:15] apoorvjain25 commented on #7
Hey! I am really interested in this project, can you please guide me that how should I proceed forward?

[2019-04-10 19:16] sandrapraetor commented on #7
Hi, I am really sorry no one has contacted you, yet. As you were quite late to get in touch (3 days before the deadline) our mentors have been very busy helping all the other students that started their applications weeks ago. We love to mentor you next year, but keep in mind to get in touch with us as early as possible, so that our mentors can assist you in drafting a well structured and mature p

[2020-05-05 18:59] #2 closed

[2020-05-05 18:59] #4 closed

[2020-05-05 18:59] #5 closed

[2020-05-05 18:59] #6 closed

[2020-05-05 18:59] #7 closed

[2020-05-05 18:59] #16 closed

[2020-05-05 18:59] #19 closed

[2020-05-05 18:59] #24 closed

[2020-05-05 18:59] #27 closed

[2020-05-05 18:59] #31 closed

[2020-05-05 18:59] #33 closed

[2020-05-05 18:59] #35 closed

[2020-05-05 18:59] #38 closed

[2020-05-05 18:59] #39 closed